
.search-container{
  display:flex;
  position: relative;
}
.search-input-field{
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius :20px;

}
.search-input-field input{
border: none;
height: 20px;
padding: 5px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}
.search-input-field input:focus{
  outline: none;
}